include _authorBtn
include _subComments

mixin allComments(commentsList)


  each comment in commentsList

    - let {id, content, createdAt, author, subComments} = comment

    .shadow-lg.p-1.m-1.bg-white.rounded
      .card.border-primary.m-3

        .card-header
          | main comment #{id}.  Post at : #{createdAt}
          //- comment's author can 'edit' / 'delete' it.
        if (currentUser === author.username)  
          +EditDeleteBtn(content, id)

        .card-body
          h4.card-title #{author.username} （ #{author.nickname} ）：
          h5 #{content}
          
        +allSubComments( author, subComments )

        if (currentUser)
          +subCommentForm(currentUser, id)