mixin commentForm(user = {})

    button.mt-3.btn.btn-outline-warning(type='button' data-toggle='modal' data-target='#createComment') 我要留言
    .modal.fade(id='createComment' tabindex='-1' role='dialog' aria-labelledby='editModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#editModalLabel.modal-title (#{user.username}) 我想說 ...
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          form
            // <form action=./action/edit_comment.php method=post>
            .modal-body
              label.mb-0(for='main_comment') 主留言
              textarea.form-control(rows='10' name='main_comment' required='true')
            .modal-footer
              input.comment_id(type='hidden' name='comment_id' value=`${user}`)
              button#submitComment.btn.btn-primary(type='submit' data-dismiss='modal') 送出





mixin subCommentForm(user = {})

    button.m-3.btn.btn-outline-info(type='button' data-toggle='modal' data-target='#createSubComment') 子留言
    .modal.fade(id='createSubComment' tabindex='-1' role='dialog' aria-labelledby='editModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#editModalLabel.modal-title (#{user.username}) 我想在主留言（ #{comment_id} ）之下，回應 ...
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          form
            // <form action=./action/edit_comment.php method=post>
            .modal-body
              label.mb-0(for='main_comment') 子留言
              textarea.form-control(rows='10' name='main_comment' required='true')
            .modal-footer
              input.comment_id(type='hidden' name='comment_id' value=`${user}`)
              button#submitSubComment.btn.btn-primary(type='submit' data-dismiss='modal') 送出
              button.btn.btn-secondary(type='button' data-dismiss='modal') 取消

