//- h2 today will ends #{h.moment().endOf('day').fromNow()}
//- h1 Hello, #{name} ! 你已經登入
//- a(href="./boots_layout") 前往 Minty 留言版
//- h1 未登入
//- a(href="./login") 登入 前往頁面
//- br
//- a(href="./signup") 註冊 前往頁面
//- br
//- a(href="./boots_layout") 前往 Minty 留言版
//- ul
//-   for item in results
//-     li= item.username  

each comment in cardList
  .card.border-success.m-3
      .card-header
        | main comment #{comment.id}.  Post at : #{comment.id}
      .card-body
        h4.card-title 暱稱
        h5 #{comment.author}